body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: rgb(149, 242, 242);
}

.svetofor{
    width: 300px;
    height: 500px;
    border: 3px solid rgb(149, 243, 238);
    background-image: url(https://imgpng.ru/d/traffic_light_PNG15284.png);
    background-size: contain;
    background-position: -100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px;
    



}
.top{
    margin-top: 70px;
}

.light{
    width: 114px;
    height: 114px;
    /* border: 1px solid; */
    border-radius: 50%;
    margin-top: 18px;
    margin-left: 95px;
}